Django>=4.0,<5.0
djangorestframework>=3.13.0,<4.0  # If you are using Django REST Framework
gunicorn>=20.0.4  # For production server
psycopg2-binary>=2.9.0  # Use psycopg2-binary instead of psycopg2
pillow>=9.0.0  # Required for image processing in Django (e.g., ImageField)
